/* estilos para grafica circular*/
svg {
	border: 1px solid #aaa;
}

text{
	font-size: 10px;
	text-anchor: middle;
}

.arc path {
	stroke: #fff;
}



/* estilos para grafica de barras*/

.bar {
	fill: steelblue;
}

.axis path {
	display: none;
}

text{
	fill: "Blue";
	font-size: 10px;
}